@page
@model Taller.App.Front.Pages.EditarSedeModel
@{
}
<a class="btn btn-warning" asp-area="" asp-page="/Sede/GestionSede">Regresar</a>
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulario - Editar Sede</h5>
        
      </div>
      <form class="px-12" method="POST">
      <div class="modal-body">
      
      <div class="row">
        <div class="mb-3 col-6">
        <label for="recipient-name" class="col-form-label">Id Sede:</label>
        <input type="text" class="form-control" placeholder="Ingrese Sede" aria-label="Username" aria-describedby="basic-addon1" asp-for="@Model.ubicacionActual.UbicacionId" name="UbicacionId" readonly>
        </div>
        <div class="mb-3 col-6">
        <label for="recipient-name" class="col-form-label">Ciudad Sede</label>
        <select class="form-select" id="inputGroupSelect01" asp-for="@Model.ubicacionActual.UbicacionDescripcion" name="UbicacionDescripcion">
        <option selected>Elegir...</option>
          <option value="Armenia">Armenia</option>
          <option value="Barranquilla">Barranquilla</option>
          <option value="Bogotá">Bogotá</option>
          <option value="Bucaramanga">Bucaramanga</option>
          <option value="Cali">Cali</option>
          <option value="Cartagena">Cartagena</option>
          <option value="Cúcuta">Cúcuta</option>
          <option value="Florencia">Florencia</option>
          <option value="Ibagué">Ibagué</option>
          <option value="Leticia">Leticia</option>
          <option value="Manizales">Manizales</option>
          <option value="Medellín">Medellín</option>
          <option value="Mitú">Mitú</option>
          <option value="Mocoa">Mocoa</option>
          <option value="Montería">Montería</option>
          <option value="Neiva">Neiva</option>
          <option value="Pasto">Pasto</option>
          <option value="Pereira">Pereira</option>
          <option value="Popayán">Popayán</option>
          <option value="Puerto Carreño">Puerto Carreño</option>
          <option value="Puerto Inírida">Puerto Inírida</option>
          <option value="Quibdó">Quibdó</option>
          <option value="Riohacha">Riohacha</option>
          <option value="San Andrés">San Andrés</option>
          <option value="San José del Guaviare">San José del Guaviare</option>
          <option value="Santa Marta">Santa Marta</option>
          <option value="Sincelejo">Sincelejo</option>
          <option value="Tunja">Tunja</option>
          <option value="Valledupar">Valledupar</option>
          <option value="Villavicencio">Villavicencio</option>
          <option value="Yopal">Yopal</option>
      </select>
      </div> 
    </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" asp-page-handler="Edit">Actualizar</button>
        
      </div>
      </form>
    </div>
    
  </div>
</div>