@page
@model Taller.App.Front.Pages.RegistroVehiculoModel
@{
}
<h2 id="idTitulo">Registro Vehículo Nuevo</h1>
<p>
</p>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Placa</span>
  <input type="text" class="form-control" placeholder="Ingrese la Placa del Vehículo" aria-label="Username" aria-describedby="basic-addon1">
    <span class="input-group-text" id="basic-addon1">Capacidad</span>
    <select class="form-select" id="inputGroupSelect01">
    <option selected>Elegir...</option>
    <option value="1">1</option>
    <option value="1">2</option>
    <option value="1">3</option>
    <option value="1">4</option>
    <option value="1">5</option>
  </select>
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Marca</span>
  <select class="form-select" id="inputGroupSelect01">
    <option selected>Elegir...</option>
    <option value="1">Mazda</option>
    <option value="1">Chevrolet</option>
    <option value="1">Renault</option>
    <option value="1">Audi</option>
    <option value="1">Kia</option>
  </select>
  <span class="input-group-text" id="basic-addon1">Cilindraje</span>
  <input type="text" class="form-control" placeholder="Ingrese el cilindraje" aria-label="Username" aria-describedby="basic-addon1">
  </div>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Modelo</span>
  <select class="form-select" id="inputGroupSelect01">
    <option selected>Elegir...</option>
    <option value="1">2023</option>
    <option value="2">2022</option>
    <option value="3">2021</option>
    <option value="4">2020</option>
    <option value="5">2019</option>
  </select>
  <span class="input-group-text" id="basic-addon1">Pais de Origen</span>
  <select class="form-select" id="inputGroupSelect01">
    <option selected>Elegir...</option>
    <option value="1">Alemania</option>
    <option value="2">Francia</option>
    <option value="3">Holanda</option>
    <option value="4">España</option>
    <option value="5">Japon</option>
  </select>
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Tipo</span>
  <select class="form-select" id="inputGroupSelect01">
    <option selected>Elegir...</option>
    <option value="1">Carro</option>
    <option value="1">Camioneta</option>
    <option value="1">Camion</option>
    <option value="1">Motocicleta</option>
   
  </select>
  </div>
  <button type="submit" class="btn btn-primary">Agregar</button>
</div>

